body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #333;
}


table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 11px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 20px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f1f1f1;
}

#contestants-list {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 15px;
    gap: 20px;
}

table.contestant-table {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

table.contestant-table th {
    background-color: #FF6347;
    color: white;
}

table.contestant-table td {
    background-color: #f9f9f9;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 20px;
    text-align: left;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}