<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tippekonkurranse</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script>
        async function fetchLeagueData() {
            let response = await fetch("/league-data");
            let data = await response.json();
            let table = document.getElementById("league");
            table.innerHTML = "<tr><th>Team</th><th>Points</th></tr>";
            data.forEach(team => {
                table.innerHTML += `<tr><td>${team.team}</td><td>${team.points}</td></tr>`;
            });
        }

        async function renderContestants() {
            let response = await fetch("/contestants");
            let data = await response.json();

             container = document.getElementById("contestants-list");

            data.contestants.forEach((contestant, i) => {
                let table = document.createElement("table");
                // table.id = `contestant${i}`;

                let headerRow = document.createElement("tr");
                headerRow.innerHTML = `<th>${contestant.name}</th>`;
                table.appendChild(headerRow);

                let points = 0;

                contestant.guess.forEach((team, i) => {
                    let row = document.createElement("tr");
                    const p = contestant.points[i]
                    points += Math.abs(p);
                    let sign = 0;
                    if (p == 0) {
                         sign = 9733;
                    } else if (p > 0) {
                         sign = 8593;
                    } else {
                         sign = 8595;
                    }
                    row.innerHTML = `<tr><td style="display: flex; justify-content: space-between; width: 72%;">
                                        <span>${team}</span>
                                        <span>&#${sign} ${p !== 0 ? Math.abs(p) : ''}</span>
                                    </td></tr>`;
                    table.appendChild(row);
                });
                let row = document.createElement("tr");
                row.innerHTML = `<tr><th>${100 - points} poeng</th></tr>`;
                table.appendChild(row);

                container.appendChild(table);
            });
        }
        window.onload = function() {
            renderContestants(); 
            fetchLeagueData();
        };
    </script>
</head>
<body>
    <h1>Tippekonkurranse</h1>
    <container id="contestants-list"></container>
    <h1>Tabellen</h1>
    <table id="league"></table>
    <!--<button onclick=fetchLeagueData()>Oppdater tabell</button>!-->
</body>
</html>